In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
df = pd.read_csv(r"C:\Users\praga\Desktop\Jupyter/train.csv")
test = pd.read_csv(r"C:\Users\praga\Desktop\Jupyter/test.csv")

In [48]:
def clean(df):
    df.drop(["Ticket","PassengerId","Cabin","Name","Embarked"],axis=1,inplace=True)

    cols = ["SibSp","Parch","Fare","Age"]
    for i in cols:
        df[i].fillna(df[i].mean(),inplace=True)
    return df

df = clean(df)
test = clean(test)

In [49]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [52]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [55]:
cols = ['Sex']
for i in cols:
    df[i]= LE.fit_transform(df[i])
    test[i] = LE.fit_transform(test[i])

In [57]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [58]:
from sklearn.linear_model import LogisticRegression

In [59]:
LR=LogisticRegression()

In [63]:
y = df.Survived
x = df.drop(['Survived'],axis=1)

In [65]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [66]:
LR.fit(x_train,y_train)

LogisticRegression()

In [71]:
pred=LR.predict(x_test)

In [72]:
from sklearn.metrics import accuracy_score
accuracy_score(pred,y_test)

0.7988826815642458